<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.androidprocess">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="com.example.androidprocess.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidProcess"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".firstline.chapter10.DownloadTestActivity"
            android:exported="false" />

        <service
            android:name=".firstline.chapter10.DownloadService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".firstline.chapter10.ServiceTestActivity"
            android:exported="false" />

        <service
            android:name=".firstline.chapter10.MyService"
            android:enabled="true"
            android:exported="true" />
        <service android:name=".firstline.chapter10.MyIntentService" />

        <activity
            android:name=".firstline.chapter10.ThreadTestActivity"
            android:exported="false" />
        <activity
            android:name=".firstline.chapter9.JsonTestActivity"
            android:exported="false" />
        <activity
            android:name=".firstline.chapter9.HttpTestActivity"
            android:exported="false" />
        <activity
            android:name=".firstline.chapter9.ChapterNineActivity"
            android:exported="false" />
        <activity
            android:name=".firstline.chapter9.WebViewTestActivity"
            android:exported="false" />
        <activity
            android:name=".firstline.chapter8.PlayAudioActivity"
            android:exported="false" />
        <activity
            android:name=".firstline.chapter8.CameraAlbumActivity"
            android:exported="false" />
        <activity
            android:name=".firstline.chapter8.NotificationDetailActivity"
            android:exported="false" />
        <activity
            android:name=".firstline.chapter8.NotificationTestActivity"
            android:exported="false" />

        <provider
            android:name=".firstline.chapter7.DatabaseProvider"
            android:authorities="com.example.androidprocess.provider"
            android:enabled="true"
            android:exported="true" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.androidprocess.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".firstline.chapter7.ContactsTestActivity"
            android:exported="false" />
        <activity
            android:name=".firstline.chapter7.ChapterSevenActivity"
            android:exported="false" />
        <activity
            android:name=".firstline.chapter7.RunPermissionActivity"
            android:exported="false" />
        <activity
            android:name=".firstline.chapter6.LitePalActivity"
            android:exported="false" />
        <activity
            android:name=".firstline.chapter6.DataBaseActivity"
            android:exported="false" />
        <activity
            android:name=".firstline.chapter6.SharedPreferenceActivity"
            android:exported="false" />
        <activity
            android:name=".firstline.chapter6.ChapterSixActivity"
            android:exported="false" />
        <activity
            android:name=".firstline.chapter6.FilePersistenceActivity"
            android:exported="false" />
        <activity
            android:name=".firstline.chapter5.UserCenterActivity"
            android:exported="false" />
        <activity
            android:name=".firstline.chapter5.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".firstline.chapter5.LoginActivity"
            android:exported="false" />

        <receiver
            android:name=".firstline.chapter5.MyBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.androidprocess.MY_BROADCAST" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".firstline.chapter5.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".firstline.chapter5.BroadcastTestActivity"
            android:exported="false" />
        <activity
            android:name=".firstline.chapter4.NewsActivity"
            android:exported="false" />
        <activity
            android:name=".firstline.chapter4.NewsContentActivity"
            android:exported="false" />
        <activity
            android:name=".firstline.chapter4.ChapterFourActivity"
            android:exported="false" />
        <activity
            android:name=".firstline.ChapterActivity"
            android:exported="false" />
        <activity
            android:name=".firstline.chapter4.FragmentActivity"
            android:exported="false" />
        <activity
            android:name=".firstline.chapter3.UiMessageActivity"
            android:exported="false" />
        <activity
            android:name=".firstline.chapter3.RecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".firstline.chapter3.ChapterThreeActivity"
            android:exported="false" />
        <activity
            android:name=".firstline.chapter3.ListViewActivity"
            android:exported="false" />
        <activity
            android:name=".firstline.chapter3.UiCustomActivity"
            android:exported="false" />
        <activity
            android:name=".firstline.BestStartActivity"
            android:exported="false" />
        <activity
            android:name=".firstline.LifeDialogActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".firstline.LifeNormalActivity"
            android:exported="false" />
        <activity
            android:name=".firstline.LifeCycleActivity"
            android:exported="false" />
        <activity
            android:name=".firstline.FirstLineCodeActivity"
            android:exported="false" />
        <activity
            android:name=".firstline.ThirdActivity"
            android:exported="true"
            android:launchMode="singleInstance">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".firstline.SecondActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.activitytest.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.example.activitytest.MY_CATEGORY" />
            </intent-filter>
        </activity>
        <activity
            android:name=".firstline.FirstActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>